<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeFit - Start Your Fitness Journey</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="start-screen">
        <h1 class="page-title">Welcome to BeeFit!</h1>
        <div class="nav-bar">
            <a class="btn" href="/hm-form">Input/Update Health Metrics</a>
            <a class="btn" href="/game">Start Game</a>
            <a class="btn" href="/leaderboard">Leaderboard</a>
            <a class="btn" href="instructions">Instructions</a>
        </div>
    </div>
</body>

</html>